.menu-item {
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    background-color: #fff4f9; 
    border: 2px solid #eb6ea5;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.menu-item h2 {
    color: #de6fa1; 
    font-size: 2em;
}

.menu-item img {
    border-radius: 10px;
    margin: 10px 0;
}

.menu-item p {
    color: #5c3c58; 
    font-size: 1.2em;
}

.menu-item a {
    display: inline-block;
    background-color: #eb6ea5; 
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 1.1em;
}

.menu-item a:hover {
    background-color: #f08cb4;
    color: #fff;
}
